/**
 每列宽：60px
每行高：50px
**/
.background{
	height:400px;
	width:420px;
	border:2px solid #59ACFF;
	margin:20px 0px 0px 30px
}
.buttons{
	height:30px;
	width:80px;
	margin:20px 0px 0px 30px;
}
select{
	margin:0px;
	padding:0px;
}
#menu{
	height:28px;
	width:80px;
	margin-right:0px;
}
#selectyear{
	height:30px;
	width:80px;
}
#selectmonth{
	height:30px;
	width:80px;
}
#selectholiday{
	height:30px;
	width:80px;
}
.week{
	height:50px;
	width:60px;
	float:left; 
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	font-size:16px;
}
.days{
	height:50px;
	width:60px;
	float:left; 
	background-color:red;
}
.beforeday, .afterday,.weekenks,.today,.nowday{
	height:50px;
	width:60px;
	float:left;
	font-weight:bold;
	font-size:16px;
	text-align: center;
}
.beforeday{
	color:#BFBFBF;
}
.afterday{
	color:#BFBFBF;
}
.weekenks{
	color:#FF7533;
}

.nowday{
	color:black;
}
.today{
	background-color:#CADCFC;
}

