code{display:block;border:1px dashed #CCC;padding:0px;background-color:#efefef;color:#000;font-weight:100;font-size:13px}
pre{display:block;padding:10px;margin:0px;}
h5{padding:5px 0px 5px 0px}
h4{padding:5px 0px 5px 0px;color:blue}
api{}
api table{background-color:#CCC}
api table tr{}
api table tr th{background-color:#eee;padding:3px 5px 3px 5px;}
api table tr td{background-color:#FFF;padding:3px 5px 3px 5px}
.code-tools{padding:5px;color:#03F}