div.fieldset {
	border:  1px solid #afe14c;
	margin: 10px 0;
	padding: 20px 10px;
}
div.fieldset span.legend {
	position: relative;
	background-color: #FFF;
	padding: 3px;
	top: -30px;
	font: 700 14px Arial, Helvetica, sans-serif;
	color: #73b304;
}

div.flash {
	width: 375px;
	margin: 10px 5px;
	border-color: #D9E4FF;

	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;

}

#btnSubmit { margin: 0 0 0 155px ; }

.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	height:30px;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	
	background-color: #FFEBEB;
}

/* Current */
.green {
	
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}
.progressContainerInProgress,
.progressContainerComplete,
.progressContainerError{
	height: 15px;
	background-color: #f4f4f4;
	width:170px;
	margin:2px 0px 0px 0px;
	border: 1px solid #1874CD; 
	
}
.progressContainerComplete{
	border: 1px solid #218868; 
}
.progressContainerError{
	border: 1px solid #CD0000; 
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 10px;
	width: 0%;
	height: 15px;
	background-color: #87CEEB;
	color: #fff;
	text-align: center;
}
.progressBarComplete {
	width: 100%;
	background-color: #66CDAA;
}

.progressBarError {
	width: 100%;
	background-color: #FF4040;
	
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}

/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
	float:left;
}

.uploadFileName{
	width:250px;
	padding:5px 0px 0px 5px;
	float:left;
}
.uploadFileSize{
	width:80px;
	padding:5px 0px 0px 5px;
	float:left;
}
.uploadProgress{
	width:170px;
	padding:5px 0px 0px 5px;
	float:left;
}

.uploadStatus{
	width:50px;
	padding:5px 0px 0px 5px;
	float:left;
}
.uploadOperate{
	width:40px;
	padding:5px 0px 0px 5px;
	float:left;
}


.progress-head{
	background-color: #f3f3f3;
	height: 30px;
	border-bottom: 1px solid #d4d4d4;
}
.progress-head div{
	font-weight: bold;
}

.progress-body{
	height:300px;
	overflow-y:scroll; 
}
.progress-tr{
	height: 30px;
	border-bottom: 1px solid #d4d4d4;
}


